html {
  font-family: "Lora", 'serif';
}

[lang=ja] html {
  font-family: "Lora", "Noto Serif", 'serif';
}

[lang=ja] p {
  font-family: "Lora", "Noto Serif", 'serif';
}

[lang=ja] a {
  font-family: "Lora", "Noto Serif", 'serif';
}

[lang=zh-cn] html {
  font-family: "Lora", "Noto Serif", 'serif';
}

[lang=zh-cn] p {
  font-family: "Lora", "Noto Serif", 'serif';
}

[lang=zh-cn] a {
  font-family: "Lora", "Noto Serif", 'serif';
}

:root {
  font-size: 80%;
}

pre {
  border: solid 1px lightgray;
  line-height: 1.8rem;
  font-weight: 500;
}

code {
  font-family: 'Inconsolata', monospace !important;
}

p code {
  font-weight: 600;
}

li code {
  font-weight: 600;
}

h1 {
  font-family: 'Linux Biolinum', 'serif';
}

[lang=ja] h1 {
  font-family: 'Linux Biolinum', "Noto Serif", 'serif';
}

[lang=zh-cn] h1 {
  font-family: 'Linux Biolinum', "Noto Serif", 'serif';
}

h1.menu-title {
  font-family: "Lora",
  'serif';
  font-size: 1.5rem;
}

[lang=ja] h1.menu-title {
  font-family: "Lora",
  "Noto Serif", 'serif';
  font-size: 1.5rem;
}

[lang=zh-cn] h1.menu-title {
  font-family: "Lora",
  "Noto Serif", 'serif';
  font-size: 1.5rem;
}

h2 {
  font-family: 'Linux Biolinum', 'serif';
}

[lang=ja] h2 {
  font-family: 'Linux Biolinum',
  "Noto Serif", 'serif';
}

[lang=zh-cn] h2 {
  font-family: 'Linux Biolinum',
  "Noto Serif", 'serif';
}

h3 {
  font-family: 'Linux Biolinum', 'serif';
}

[lang=ja] h3 {
  font-family: 'Linux Biolinum',
  "Noto Serif", 'serif';
}

[lang=zh-cn] h3 {
  font-family: 'Linux Biolinum',
  "Noto Serif", 'serif';
}
