html:lang(en) {
  font-family: "Lora", 'serif';
}

html:lang(zh-cn) {
  font-family: "Lora", "Songti SC", "SimSun", "Noto Serif", 'serif';
}

html:lang(ja) {
  font-family: "Lora", "Noto Serif JP", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, "Noto Serif", serif;
}

h1 {
  font-family: 'Linux Biolinum', "Noto Serif", 'serif';
}

h1:lang(zh-cn) {
  font-family: "Linux Biolinum", "Noto Serif SC", "Songti SC", "SimSun", "Noto Serif", serif;
}

h1:lang(ja) {
  font-family: "Linux Biolinum", "Noto Serif JP", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, "Noto Serif", serif;
}

h1:lang(en) {
  font-family: 'Linux Biolinum', 'serif';
}

:root {
  font-size: 80%;
}

pre {
  border: solid 1px lightgray;
  line-height: 1.8rem;
  font-weight: 500;
}

code {
  font-family: 'Inconsolata', monospace !important;
}

p code {
  font-weight: 600;
}

li code {
  font-weight: 600;
}

h1.menu-title:lang(en) {
  font-family: "Lora",
    'serif';
  font-size: 1.5rem;
}

h1.menu-title:lang(zh-cn) {
  font-family: "Lora",
    "Noto Serif SC", "Songti SC", "SimSun",
    "Noto Serif", 'serif';
  font-size: 1.5rem;
}

h1.menu-title:lang(ja) {
  font-family: "Lora",
    "Noto Serif JP", "Hiragino Mincho ProN", "Yu Mincho", YuMincho,
    "Noto Serif", 'serif';
  font-size: 1.5rem;
}

h2 {
  font-family: 'Linux Biolinum',
    "Noto Serif", 'serif';
}

h2:lang(en) {
  font-family: 'Linux Biolinum', 'serif';
}

h2:lang(zh-cn) {
  font-family: "Linux Biolinum", "Noto Serif SC", "Songti SC", "SimSun", "Noto Serif", serif;
}

h2:lang(ja) {
  font-family: "Linux Biolinum", "Noto Serif JP", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, "Noto Serif", serif;
}

h3 {
  font-family: 'Linux Biolinum',
    "Noto Serif", 'serif';
}

h3:lang(en) {
  font-family: 'Linux Biolinum', 'serif';
}

h3:lang(zh-cn) {
  font-family: "Linux Biolinum", "Noto Serif SC", "Songti SC", "SimSun", "Noto Serif", serif;
}

h3:lang(ja) {
  font-family: "Linux Biolinum", "Noto Serif JP", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, "Noto Serif", serif;
}
